BasedOnStyle: LLVM

AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: 'true'
AccessModifierOffset: -2
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
SortIncludes: 'false'
ColumnLimit: 120
Standard: Cpp11
IndentWidth: 4
UseTab: Never

